/* .App {
    font-family: sans-serif;
    text-align: center;
  } */
  body {
    background: #06283D;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    color: #DFF6FF;
  
  }

  
  .form {
    width: 500px;
    margin: 0 auto;
    margin-top: 80px;

  }

  textarea,
  select,
  .input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 14px;
  }

  
  input[type="submit"],
  .button {
    position: relative;
    background: #256D85;
    color: white;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    margin-top: 20px;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    display: block;
    appearance: none;
    border-radius: 4px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 0.5rem;
    transition: 0.3s all;
  }

  
  
  input[type="submit"]:hover,
  button[type="button"]:hover {
    background: #47B5FF;
    color: white;
  }
  
  input[type="submit"]:active {
    transition: 0.3s all;
    top: 2px;
  }



  ul.nav {
    width: 100%;
    padding-left: 0px;
    background-color: #45a6de;
    text-align: center;
  }
  ul.nav > li {
  
    display: inline-block;
    padding: 10px 20px;
  }
  /* ul.nav > li:hover {
    width: 100%;
    background-color: #2779BF;
  } */
  ul.nav > li > a {
    color: white;
    text-decoration: none;
  }

  ul.list-unstyled > li > a{
    color: white;
  }

  ul.nav > li.active > a,
ul.nav > li > a:active,
ul.nav > li > a:focus
{
    color: #06283D;
  
}
  
  .card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

ul
{
list-style-type: none;
}
